body{
  background: url('./../background.jpg');
}

.header{
  height: 100px;
  width: 100%;
  display: flex;
  background: #555555;
}

.header .iconDiv{
  height: 100px;
  width: 100px;
  margin: 20px;
  transform: rotate(-25deg);
}

.header p{
  margin: 0;
  position: absolute;
  top: 25px;
  left: 150px;
  font-size: xx-large;
  font-family: cursive;
  color: #e5e5e5;
}

.body{
  height: calc(100% - 100px);
}

.mask input{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: xx-large;
  font-family: cursive;
  border: 2px solid black;
}

.mask .instructionDiv{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: xx-large;
  font-family: cursive;
  border: 2px solid black;
  width: 80%;
  border-radius: 25px;
}

.container{
  margin-top: 100px;
  width: 500px;
  border: 1px solid black;
}
.row{
  height : 100px;
}
.cell {
    height : 100px;
    border: 1px solid black;
    user-select: none;
}

.cell p{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    font-family: cursive;
}

.alertMsg{
  position: absolute;
  z-index: 1000;
  height: 50px;
  width: 50%;
  top: 20px;
  right: 20px;
  border: 2px solid black;
  border-radius: 10px;
}

.alertMsg p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: large;
  font-family: cursive;
}

.pyro p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: -webkit-xxx-large;
  font-family: cursive;
  color: #096108;
}
